
  
  <div>
    <mat-checkbox 
        (change)="setCol('id', $event.checked)" 
        [checked]="displayedColumns.includes('id')">
      Nº de Alumno
    </mat-checkbox>
    <mat-checkbox 
        (change)="setCol('nombre', $event.checked)" 
        [checked]="displayedColumns.includes('nombre')">
      Nombre
    </mat-checkbox>
    <mat-checkbox 
        (change)="setCol('apellidos', $event.checked)" 
        [checked]="displayedColumns.includes('apellidos')">
      Apellidos
    </mat-checkbox>
    <mat-checkbox 
        (change)="setCol('nif', $event.checked)" 
        [checked]="displayedColumns.includes('nif')">
      NIF
    </mat-checkbox>
    <mat-checkbox 
        (change)="setCol('edad', $event.checked)" 
        [checked]="displayedColumns.includes('edad')">
      Edad
    </mat-checkbox>
    <mat-checkbox 
        (change)="setCol('curso', $event.checked)" 
        [checked]="displayedColumns.includes('curso')">
      Curso Matriculado
    </mat-checkbox>
  </div>
  <!-- Tabla de Angular Material -->
  <table mat-table [dataSource]="students" class="mat-elevation-z8">
  
    <!-- Columna Nº de Alumno -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Nº de Alumno </th>
      <td mat-cell *matCellDef="let student"> {{student.id}} </td>
    </ng-container>
  
    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let student"> {{student.nombre}} </td>
    </ng-container>
  
    <!-- Columna Apellidos -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let student"> {{student.apellidos}} </td>
    </ng-container>
  
    <!-- Columna NIF -->
    <ng-container matColumnDef="nif">
      <th mat-header-cell *matHeaderCellDef> NIF </th>
      <td mat-cell *matCellDef="let student"> {{student.nif}} </td>
    </ng-container>
  
    <!-- Columna Edad -->
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let student"> {{student.edad}} </td>
    </ng-container>
  
    <!-- Columna Curso Matriculado -->
    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let student"> {{student.curso}} </td>
    </ng-container>
  
    <!-- Fila de encabezado y de datos -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>